* {
	margin: 0;
	padding: 0;
}
body {
	background-color: #CCCCCC;
	margin: 0 auto;
}
h3 {
	font-family: Arial;
	font-size: 30px;
}
div[class^="container"] {
	display: flex;
	font-family: Arial;
	font-size: 20px;
	width: 100%;
	height: 66px;
}
.container-end {
	justify-content: flex-end;
}
.container-end div[class^="col-"]:first-child {
	margin-left: 0;
}
.container-end div[class^="col-"]:last-child {
	margin-right: 0;
}
.grid-16 {
	position: absolute;
	top: 50px;
}
div[class^=col-] {
	background: #333333;
	color: white;
	text-align: center;
	height: 50px;
	line-height: 50px;
	margin: 8px;
	border-radius: 5px;
}
.container div[class^="col-"]:first-child {
	margin-left: 0;
}
.container div[class^="col-"]:last-child {
	margin-right: 0;
}
.col-1 {
  width: calc((1/16) * 100% - 15px);
}
.col-2 {
  width: calc((2/16) * 100% - 8px);
}
.col-3 {
  width: calc((3/16) * 100% - 8px);
}
.col-4 {
  width: calc((4/16) * 100% - 8px);
}
.col-5 {
  width: calc((5/16) * 100% - 8px);
}
.col-6 {
  width: calc((6/16) * 100% - 8px);
}
.col-7 {
  width: calc((7/16) * 100% - 8px);
 }
.col-8 {
  width: calc((8/16) * 100% - 8px);
}
.col-9 {
  width: calc((9/16) * 100% - 8px);
}
.col-10 {
  width: calc((10/16) * 100% - 8px);
}
.col-11 {
  width: calc((11/16) * 100% - 8px);
}
.col-12 {
  width: calc((12/16) * 100% - 8px);
}
.col-13 {
  width: calc((13/16) * 100% - 8px);
}
.col-14 {
  width: calc((14/16) * 100% - 8px);
}
.col-15 {
  width: calc((15/16) * 100% - 2px);
}
.col-16 {
  width: calc((16/16) * 100%);
}
.col-1-3 {
  width: calc((1/3) * 100% - 8px);
}
.col-2-3 {
  width: calc((2/3) * 100% - 8px);
}
.col-1-4 {
  width: calc((1/4) * 100% - 8px);
}
.col-2-4 {
  width: calc((2/4) * 100% - 16px);
}
.col-3-4 {
  width: calc((3/4) * 100% - 8px);
}
.col-1-5 {
  width: calc((1/5) * 100% - 8px);
}
.col-2-5 {
  width: calc((2/5) * 100% - 8px);
}
.col-3-5 {
  width: calc((3/5) * 100% - 8px);
}
.col-4-5 {
  width: calc((4/5) * 100% - 8px);
}