* {
	margin: 0 auto;
	padding: 0;
}
.container {
	width: 100%;
	height: 100px;
	display: flex;
	margin: 3px;
}
div[class^="line-"] {
	height: 100px;
	background-color: #EF5350;
	color: #FFFAFA;
	border-radius: 5px;
	margin: 1px;
	position: relative;
	p {
		font-family: Arial;
		font-size: 20px;
		position: absolute;
		top: 35px;
		right: 35px;
	}
}
$lenght: 12;
@for $i from 1 through $lenght {
	.line-#{$i} {
		flex: $i;
	}
}
