* {
	margin: 0 auto;
	padding: 0;
}
body {
	background-color: #383B55;
}
.container {
	width: 300px;
	text-align: center;
	margin-top: 50px;
}
.header {
	background-color: #385E97;
	height: 30px;
	text-align: left;
	padding: 20px;
}
.fa-align-justify:before {
	font-size: 32px;
	color: white;
}
div[class^="content"] {
	background-color: #31558A;
	height: 400px;
	display: grid;
}
.content {
	grid-template-columns: 1fr 2fr;
}
.col-1 {
	background-color: #204273;
	height: 60px;
	width: 60px;
	border-radius: 5px;
	margin-top: 20px;
}
.col-2 {
    background-color: #31558A;
	display: flex;
	flex-direction: column;
	margin-left: 0px;
}
div[class^="line-"] {
    flex: 1;
	background-color: #204273;
	max-height: 10px;
    margin-bottom: 15px;
    border-radius: 2px;
}
.line-1 {
	width: 180px;
	margin-top: 20px;
}
.line-2 {
	width: 180px;
}
.line-3 {
	width: 80px;
	margin-left: 0;
}
