* {
	margin: 0 auto;
}
table {
	width: 700px;
	height: 280px;
	margin-top: 50px;
	font-family: Arial;
	font-size: 20px;
	background-color: #CCCCCC;
}
th {
	background-color: white;
}
.line-1 {
	height: 65px;
}
.line-1 th {
	background-color: #00CCFF;
	color: white;
}
.red {
	color: red;
}